.tela-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* height: max-content; */
    width: 100%;
}

.tela-principal .carrinho{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.tela-principal header .barraPesquisa{
    display: flex;
    gap: 15px;
}

.tela-principal header .barraPesquisa input{
    width: 700px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    padding: 0 20px;
} 
.tela-principal header .barraPesquisa button{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: white;
    border: none;
    transition: 0.2s;
}

.tela-principal header{
    display: flex;
    height: 80px;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #17171b;
    z-index: 999;
    
}
.tela-principal .menu{
    background-color: white;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.tela-principal section{
    display: flex;
    justify-content: center;
    background-color: #bbb;
    width: 90%;
    min-height: calc(100vh - 60px);
    margin: 60px 30px 30px 0px;
    margin-bottom: 0;
    padding: 60px 60px;
    gap: 30px;
    flex-flow: wrap;
}

.barraPesquisa button:hover{
    transform: scale(110%);
}

.menu:hover{
    background-color: rgb(19, 102, 255);
    transform: scale(110%);
}

.carrinho:hover{
    background-color: rgb(19, 102, 255);
    transform: scale(110%);
}